[phases.setup]
  nixPkgs = ['nodejs', 'python3', 'ffmpeg']
  nixpkgsArchive = 'ba913eda2df8eb72147259189d55932012df6301'

[phases.install]
  cmds = ['npm ci']
  
[phases.build]
  cmds = []

[start]
  cmd = 'npm start'